<!-- Dashboard view -->
<!-- Header -->
<div class="row ml-5 fixed-top">
    <div class="col-md-8">
        <h1 class="mt-4" style="color: rgb(10, 9, 9);"><i class="fa-solid fa-bullseye"></i>Habit Tracker</h1>
    </div>
    <div class="col-md-2 mt-4">
        <p class="lead float-right mb-3" style="color: rgb(10, 10, 10);">Welcome <%= user.name %></p>
    </div>
    <div class="col-md-2 mt-4">
        <i class="fa-solid fa-right-from-bracket"></i>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>
<!-- Habit Container Section-->
<div class="habit-box text-center">
    <h2>Add New Habit</h2>
    <form action="/user-view" method="POST" class="box-header">
        <!-- Toggle View Buttons (Daily/Weekly) -->
        <div class="btn-group mb-4" aria-label="Change View">
            <% if(user.view === "dailyView"){ %>
            <button type="submit" class="btn btn-primary active" aria-pressed="true">Daily</button>
            <button type="submit" class="btn btn-primary">Weekly</button>
            <% } else { %>
            <button type="submit" class="btn btn-primary">Daily</button>
            <button type="submit" class="btn btn-primary active" aria-pressed="true">Weekly</button>
            <% } %>
        </div>
    </form>
    <!-- Include Partial Messages -->
    <%- include ("./partials/messages") %>
    <div class="habit">
        <form action="/dashboard" method="POST" class="box-header mb-4">
            <input type="text" name="content" required placeholder="Enter Habit">
            <button type="submit" class="add-btn"><span class="fas fa-plus"></span></button>
        </form>
        <i class="fas fa-check-circle" style="color: rgb(143, 233, 58);"></i>
        -Done&emsp;&emsp;
        <i class="fas fa-times-circle" style="color: #E53C37;"></i>
        -Not Done&emsp;&emsp;
        <i class="fas fa-minus-circle" style="color: gold;"></i>
        -Unmarked&emsp;&emsp;
        <% if(user.view === "dailyView"){ %>
    <!-- Display Daily Habits -->
        <ul class="habit-list">
            <% userHabit.forEach(habitD => {
                 let tzoffset = (new Date()).getTimezoneOffset() * 60000, get=false, check='';
                var today = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 10);
                habitD.dates.find(function (item, index) {
                    if(item.date === today)
                    {
                        get = true;
                        check = item.complete;
                    }
                });
                %>
              <!-- Individual Habit Item -->   
            <li class="habit-List">
                <a href="status-update/?id=<%= habitD._id %>&date=<%= today %>" class="status-check">
                    <!-- Display status icons based on completion status -->
                    <!-- ... (code logic) -->
                    <% if(get && check==='yes'){ %>
                    <i class="fas fa-check-circle"></i>
                    <% } else if(get && check==='no'){ %>
                    <i class="fas fa-times-circle"></i>
                    <% } else { %>
                    <i class="fas fa-minus-circle"></i>
                    <% } %>
                </a>
                &emsp;
                 <!-- Habit Name -->
                <div class="habit-list-item-name"><%= habitD.content %></div>
                <!-- Favorite Icon -->
                <a href="/favorite-habit/?id=<%= habitD._id %>" class="favorite">
                    <% if(habitD.favorite) { %>
                    <i class="fas fa-star"></i>
                    <% } else { %>
                    <i class="far fa-star"></i>
                    <% } %>
                </a>
                <!-- Remove Icon -->
                <a href="/remove/?id=<%= habitD._id %>" class="remove">
                    <i class="far fa-trash-alt"></i>
                </a>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
        <!-- Display Weekly Habits -->
        <ul class="habit-list text-center">
            <% userHabit.forEach(habitD => { %>
                <!-- Individual Habit Item -->
            <li class="habit-List">
                  <!-- Habit Name -->
                <div class="habit-list-item-name"><%= habitD.content %></div>
                  <!-- Favorite Icon -->
                <a href="/favorite-habit/?id=<%= habitD._id %>" class="favorite">
                    <% if(habitD.favorite) { %>
                    <i class="fas fa-star"></i>
                    <% } else { %>
                    <i class="far fa-star"></i>
                    <% } %>
                </a>
                <a href="/remove/?id=<%= habitD._id %>" class="remove">
                    <i class="far fa-trash-alt"></i>
                </a>
                 <!-- Loop through weekdays for status check -->
                <% weekday.forEach(day => {
                     let get = false, check = '';
                     habitD.dates.find(function (item, index) {
                    if(item.date === day.date)
                    {
                        get = true;
                        check = item.complete;
                    }
                });
                %>
                <div class="status-box">
                    <div class="status-button  mt-0"><span><%= day.day + ", " + day.date.slice(-2) %></span></div>
                    <a href="status-update/?id=<%= habitD._id %>&date=<%= day.date %>" class="status-check2 mt-4">
                        <% if(get && check==='yes'){ %>
                        <i class="fas fa-check-circle"></i>
                        <% } else if(get && check==='no'){ %>
                        <i class="fas fa-times-circle"></i>
                        <% } else { %>
                        <i class="fas fa-minus-circle"></i>
                        <% } %>
                    </a>
                </div>
                <% }) %>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </div>
</div>